<body>
    <table >
        
        <td >
            <section>
                <label class="nombreplaneta">NOMBRE DEL PLANETA</label>
            </section>
            <section>
                <label class="planetaDescripcion">Naboo</label>
            </section>
            <section>
                <label class="periodo">PERIODO ORBITAL</label>
            </section>
            <section>
                <label class="periodoDescripcion">312</label>
            </section>
                        <section>
                <label class="diametro">DIAMETRO</label>
            </section>
            <section>
                <label class="diametroDescripcion">12120</label>
            </section>
            <section>
                <label class="clima">CLIMA</label>
            </section>
            <section>
                <label class="climaDescripcion">Templado</label>
            </section>
            <section>
                <label class="gravedad">GRAVEDAD</label>
            </section>
            <section>
                <label class="gravedadDescripcion">1 estandar</label>
            </section>
            <section>
                <label class="terreno">TERRENO</label>
            </section>
            <section>
                <label class="terrenoDescripcion">Colinas cubiertas de hierba, pantanos, bosques, montañas</label>
            </section>
            <section>
                <label class="poblacion">POBLACION:</label>

                <label class="poblacionDescripcion">4500000000</label>
            </section>
                      
        </td>
        <td width="55%">
            <img src="assets/img/planeta.png" style="width:80%">
        </td>
    </table>
    </body>
