<body>
    <table >
        <td width="55%">
            <img src="{{'assets/img/Pelicula'+idPelicula+'.png'}}" style="width:100%">
        </td>
        <td >
            <section>
                <label class="titulo">TITULO</label>
            </section>
            <section>
                <label class="tituloDescripcion">{{pelicula.title}}</label>
            </section>
            <section>
                <label class="sipnosis">SINOPSIS</label>
            </section>
            <section>
                <label class="sipnosisDescripcion">{{pelicula.opening_crawl}}</label>
            </section>
            <section>
                <label class="director">DIRECTOR</label>
            </section>
            <section>
                <label class="directorDescripcion">{{pelicula.director}}</label>
            </section>
            <section>
                <label class="ano">Año</label>
                <label class="ano">{{pelicula.release_date}}</label>
            </section>
            <section>
            
                <input type="submit" id="botonPlanetas" value="Planetas" class="botonPlanetas" [routerLink]="['/planetas/',idPelicula]"  >
                <input type="submit" id="botonNaves" value="Naves" class="botonNaves" [routerLink]="['/naves/',idPelicula]" >
            </section>
          
        </td>
    </table>
    </body>
