<body>
    <table >
        <td width="55%">
            <img src="assets/img/Pelicula1.png" style="width:100%">
        </td>
        <td >
            <section>
                <label class="titulo">TITULO</label>
            </section>
            <section>
                <label class="tituloDescripcion">Star Ware: episodio I - la amenaza fantasma</label>
            </section>
            <section>
                <label class="sipnosis">SINOPSIS</label>
            </section>
            <section>
                <label class="sipnosisDescripcion">Obi-Wan Kenobi es un joven aprendiz caballero Jedi bajo la tutela de Qui-Gon Jinn; Anakin Skywaller, quien despues sera padre de Luke Skywalker y se convertira en Danth Vader, solamente es un niño de 9 años cuando la Federacion de Comercio corta todas las rutas al planeta Naboo, Qui-Gan y Obi-Wan son asignados para solucionarel problema</label>
            </section>
            <section>
                <label class="director">DIRECTOR</label>
            </section>
            <section>
                <label class="directorDescripcion">George Lucas</label>
            </section>
            <section>
                <label class="actores">ACTORES</label>
            </section>
            <section>
                <label class="actoresDescripcion">Jake Lloyd, Natalie Portam, Liam Neeson</label>
            </section>
            <section>
                <label class="ano">Año</label>
                <label class="ano">1999</label>
            </section>
            <section>
            
                <input type="submit" id="botonPlanetas" value="Planetas" class="botonPlanetas" routerLink="/planetas" >
                <input type="submit" id="botonNaves" value="Naves" class="botonNaves" routerLink="/naves" >
            </section>
          
        </td>
    </table>
    </body>
