<body>
    <table >
        <td >
            <section>
                <select name="nave">
                    <option>Scimitar</option>
                    <option>Naboo Royal Starship</option>
                    <option>Republic Cruiser</option>
                    <option>Droid Control Ship</option>
                    <option>Naboo Fighter</option>
                    
                </select>               
            </section>
            <section>
                <input type="submit" id="botonConsultarNave" value="Consultar Nave" class="botonConsultarNave" routerLink="/navesDetalle/1" >
            </section>
        </td>
        <td width="55%">
            <img src="assets/img/LogoStarWars.png" style="width:50%">
        </td>
    </table >   

</body>
