<body>
    <table >
        <td >
            <section>
                <select name="planeta">
                    <option>Naboo</option>
                    <option>Coruscant</option>
                    <option>Tatooine</option>
                    
                </select>               
            </section>
            <section>
                <input type="submit" id="botonConsultarPlaneta" value="ConsultarPlaneta" class="botonConsultarPlaneta" routerLink="/planetasDetalle" >
            </section>
        </td>
        <td width="55%">
            <img src="assets/img/planeta.png" style="width:50%">
        </td>
    </table >   

</body>
