


<body>
 

    <table >
        <td width="30%">
          <div  id="divbusquedaAno"> 
            <input type="text" value="Search" class="busqueda">
            <input type="submit" id="botonBusqueda" value="Busqueda por año" class="botonBusqueda" >
          </div>
          <div id="divbusquedaTitulo">
            <input type="text" value="Search" class="busquedaTitulo">
            <input type="submit" id="botonBusqueda" value="Busqueda por titulo" class="botonBusquedaTitulo" >
          </div>
      
        </td>
    <td>
      <table bgcolor="#FFFFFF">
        <tr>
          <th><a routerLink="/peliculasDetalle" ><img src="assets/img/Pelicula1.png" style="width:50%"> </a></th>
          <th><a routerLink="/peliculasDetalle" ><img src="assets/img/Pelicula2.png" style="width:50%"> </a></th>
          <th><a routerLink="/peliculasDetalle" ><img src="assets/img/Pelicula3.png" style="width:50%"> </a></th>
        </tr>
        <tr>
          <th><a routerLink="/peliculasDetalle" ><img src="assets/img/Pelicula4.png" style="width:50%"> </a></th>
          <th><a routerLink="/peliculasDetalle" ><img src="assets/img/Pelicula5.png" style="width:50%"> </a></th>
          <th><a routerLink="/peliculasDetalle" ><img src="assets/img/Pelicula6.png" style="width:50%"> </a></th>
       </tr>
       <tr>
        <th><a routerLink="/peliculasDetalle" ><img src="assets/img/Pelicula7.png" style="width:50%"> </a></th>
       
       </tr>
      </table>
      
    </td>
    
    
     </table>
    
     
       
    
    </body>
