


<body>
 

    <table >
        <td width="30%">
          <div  id="divbusquedaAno"> 
            <input #anio type="text" value="Search" class="busqueda">
            <button class="botonBusqueda"  (click)="busquedadPorAnio($event, anio.value)">Busqueda por año</button>
          </div>
          <div id="divbusquedaTitulo">
            <input #titulo type="text" value="Search" class="busquedaTitulo">
            <button class="botonBusqueda"  (click)="busquedadPorTitulo($event, titulo.value)">Busqueda por titulo</button>
          </div>
          <button class="botonBusqueda"  (click)="consultarPeliculasServicio()">Limpiar</button>
      
        </td>
    <td>
      <table bgcolor="#FFFFFF">
        <tr *ngFor="let item of peliculas.results">
          <td>{{item.title}}   {{item.release_date}}</td>
          <th><a  [routerLink]="['/peliculasDetalle/',item.episode_id]" > <img src="{{'assets/img/Pelicula'+item.episode_id+'.png'}}" style="width:50%" /> </a></th>
        </tr>
      </table>
      
    </td>
    
    
     </table>
    
     
       
    
    </body>
