<body>
    <table >
        
        <td >
            <section>
                <label class="nombrenave">NOMBRE DE LA NAVE:</label>
            </section>
            <section>
                <label class="naveDescripcion">Scimitar</label>
            </section>
            <section>
                <label class="modelo">MODELO:</label>
            </section>
            <section>
                <label class="modeloDescripcion">Star Courier</label>
            </section>
                        <section>
                <label class="fabricante">FABRICANTE:</label>
            </section>
            <section>
                <label class="fabricanteDescripcion">Sistemas Republic Sienar</label>
            </section>
            <section>
                <label class="longitud">LONGITUD:</label>
            </section>
            <section>
                <label class="longitudDescripcion">26.5</label>
            </section>
            <section>
                <label class="pasajeros">PASAJEROS:</label>
            </section>
            <section>
                <label class="pasajerosDescripcion">6</label>
            </section>
            <section>
                <label class="velocidad">VELOCIDAD MAXIMA:</label>
            </section>
            <section>
                <label class="velocidadDescripcion">1180</label>
            </section>
            <section>
                <label class="capacidad">CAPACIDAD DE CARGA:</label>

                <label class="capacidadDescripcion">2500000</label>
            </section>
                      
        </td>
        <td width="55%">
            <img src="assets/img/LogoStarWars.png" style="width:80%">
        </td>
    </table>
    </body>